body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: goldenrod;
}

h1 {
  font-family: Impact, fantasy;
  font-size: 45px;
  color: saddlebrown;
  padding-bottom: 0.2px;
}
h2 {
  font-family: Impact, fantasy;
  font-size: 25px;
  color: saddlebrown;
  padding-bottom: 0.2px;
  text-align: center;
}
